// Specific CSS for your home-page
@import "../components/index";

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    background-color: white;
    position: relative;
}

strong { font-weight: 600; }

.banner .brand {

    position:  absolute;
    left: 12.06%;
    top: 4.19%;
    padding-block: 5px;
}

.banner .brand #vector {
  padding-bottom: 3%;
}

.head-text {
  padding-inline: 90px;
  line-height: 1em;
}

.head-text h1 {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 70px;
    display: flex;
    align-items: flex-end;
    text-align: start;
    color: #FFFFFF;
    a {
      text-decoration: none;
      color: white;
    }
}

.head-text h3 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    text-align: start;
    color: #FFFFFF;
}

.download {
    display: flex;
    // justify-content: space-between;
    align-items: flex-start;
    margin-top: 1.5em;
    img {
      width: 107px;
      height: 45px;
    }
}

.partners {
  height: 12vh;
  padding: 0 10em;
}

.partners-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
