<div class="banner d-flex justify-content-center align-items-center h-100" style= "background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url('../assets/images/male-model.png'); height: 100vh;">
  <div class="text-center container">
    <div class="row">
      <div class="col-md-5 text-left">
        <h1>Investments, <br>
        for Africa.</h1><br>
        <p class='opacity-80'>Secure, multi currency <br>
        Investments.</p>

        <%= link_to "Rates", rates_path, class: "btn btn-ghost mt-4" %>
      </div>
    </div>
  </div>
</div>
