<div class="">
  <div class="banner-info d-flex justify-content-center align-items-center hv-100">
    <div class="text-center container">
      <div class="row">
        <div class="col-md-5 text-left">
          <h1>Investments, <br>
          for Africa.</h1><br>
          <p class='opacity-80'>Secure, multi currency <br>
          Investments.</p>

          <%= link_to "Rates", rates_path, class: "btn btn-ghost mt-4" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner"
     style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../../images/male-model.png'); height: 100vh;">
  <div class="container header">
    <h2>FlashBath</h2>
    <br>
    <p>The fastest & easiest way to find a fancy and relaxable bathroom around you</p>
    <%= link_to "Rates", rates_path, class: 'button btn btn-gradient rounded-1' %>
  </div>
</div>
