<%# banner %>
<div class="banner d-flex justify-content-center align-items-center h-100" style= "background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url('https://github.com/Muhammadjoni/mara-investments/blob/master/app/assets/images/male-model.jpg?raw=true'); height: 90vh;">
  <div class="brand">
    <img src="https://github.com/Muhammadjoni/mara-investments/blob/master/app/assets/images/vector.png?raw=true" />
    <img src="../../assets/images/m-vector.png" />
    <img src="../../assets/images/a-vector.png" />
    <img src="../../assets/images/r-vector.png" />
    <img src="../../assets/images/a-vector.png" />
  </div>

  <div class="text-center container">
    <div class="row ml-5">
      <div class="col-md-6 text-left">
        <div class="head-text">
          <h1>Investing, <br>
          for Africa</h1><br>
          <h3>Secure, multi-currency <br>
          investments.</h3>
        </div>

        <%= link_to "Rates", rates_path, class: "btn btn-ghost mt-4" %>
      </div>
    </div>
  </div>
</div>
