<div class="container">
  <div class="header d-flex my-3 p-3">
    Exchange Rates
  </div>

  <div class="row">
    <div class="col-12">

      <% @exchange_rates.each do |key,value| %>
      <h5>  The key is: <%= key %> </h5>
      <h5>  The value is: <%= value %> </h5> <br />
      <% end %>

    </div>
  </div>
</div>
